header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0px;
  background-image: linear-gradient(90deg, #6C58FF, #9658FF, #BF58FF, #E958FF);
  font-family: Arial;
  height: 100vh;
  font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
    background-image: none;
    background-color: deeppink;
  }
}

.menu {
  background-color: snow;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
 list-style: none; 
}

.menu li a {
  color: teal;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
}

.menu li a:hover {
  text-decoration: underline;
}

.site-subtitle, 
.site-title {
  color: whitesmoke;
  text-align: center;
  text-shadow: 0.2rem 0.2rem goldenrod;
}

.site-title {
  font-size: 4em;
}

.site-subtitle {
 font-style: italic;
}

.img-portfolio {
  height: 180px;
  width: 180px;
}

#ad-alura {
  width: 40%;
  border-radius: 1rem;
  background-color: #00000000;
  display: flex;
}

#ad-alura:hover {
  background-color: goldenrod;
}

img[src*="alura-lingua"] {
  opacity: 100%;
  width: 20%;
}

#ad-alura a + span {
  font-size: 100%;
  background-color: snow;
}